<div class="col-md-offset-3 col-md-6">
<table class="table table-bordered" ng-init="getScnEmployee()">
    <thead>
        <tr>
            <th colspan="2" class="text-center"> Employee Details </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><b>First Name</b></td>
            <td>{{scnEmployee.firstName}}</td>
        </tr>
        <tr>
            <td><b>Last Name</b></td>
            <td>{{scnEmployee.lastName}}</td>
        </tr>
        <tr>
            <td><b>Address</b></td>
            <td>{{scnEmployee.address}}</td>
        </tr>
        <tr>
            <td><b>Salary</b></td>
            <td>{{scnEmployee.salary}}.Rs/-</td>
        </tr>
        <tr>
            <td><b>Mobile</b></td>
            <td>{{scnEmployee.mobile}}</td>
        </tr>
        <tr>
            <td><b>Line</b></td>
            <td>{{scnEmployee.line}}</td>
        </tr>
    </tbody>
</table>
</div>